@{
    ViewBag.Title = "HighChart";
}

<link href="@Url.Content("../../Content/CSS/HighChart.css")" rel="stylesheet" type="text/css" />


<h1>Highcharts Examples</h1>

<div class="highChart-column">
		<h4>Line charts</h4>
		<ul>
			<li><a href="../../Page/examples/line-basic/index.htm"  target="_blank">Basic line</a></li>
			<li><a href="../../Page/examples/line-ajax/index.htm"  target="_blank">Ajax loaded data, clickable points</a></li>
			<li><a href="../../Page/examples/line-labels/index.htm"  target="_blank">With data labels</a></li>
			<li><a href="../../Page/examples/line-time-series/index.htm"  target="_blank">Time series, zoomable</a></li>
			<li><a href="../../Page/examples/spline-inverted/index.htm"  target="_blank">Spline with inverted axes</a></li>
			<li><a href="../../Page/examples/spline-symbols/index.htm"  target="_blank">Spline with symbols</a></li>
			<li><a href="../../Page/examples/spline-plot-bands/index.htm"  target="_blank">Spline with plot bands</a></li>
			<li><a href="../../Page/examples/spline-irregular-time/index.htm"  target="_blank">Time data with irregular intervals</a></li>
			<li><a href="../../Page/examples/line-log-axis/index.htm"  target="_blank">Logarithmic axis</a></li>
		</ul>
		<h4>Area charts</h4>
		<ul>
			<li><a href="../../Page/examples/area-basic/index.htm"  target="_blank">Basic area</a></li>
			<li><a href="../../Page/examples/area-negative/index.htm"  target="_blank">Area with negative values</a></li>
			<li><a href="../../Page/examples/area-stacked/index.htm"  target="_blank">Stacked area</a></li>
			<li><a href="../../Page/examples/area-stacked-percent/index.htm"  target="_blank">Percentage area</a></li>
			<li><a href="../../Page/examples/area-missing/index.htm"  target="_blank">Area with missing points</a></li>
			<li><a href="../../Page/examples/area-inverted/index.htm"  target="_blank">Inverted axes</a></li>
			<li><a href="../../Page/examples/areaspline/index.htm"  target="_blank">Area-spline</a></li>
			<li><a href="../../Page/examples/arearange/index.htm"  target="_blank">Area range</a></li>
			<li><a href="../../Page/examples/arearange-line/index.htm"  target="_blank">Area range and line</a></li>
		</ul>
		<h4>Column and bar charts</h4>
		<ul>
			<li><a href="../../Page/examples/bar-basic/index.htm"  target="_blank">Basic bar</a></li>
			<li><a href="../../Page/examples/bar-stacked/index.htm"  target="_blank">Stacked bar</a></li>
			<li><a href="../../Page/examples/bar-negative-stack/index.htm"  target="_blank">Bar with negative stack</a></li>
			<li><a href="../../Page/examples/column-basic/index.htm"  target="_blank">Basic column</a></li>
			<li><a href="../../Page/examples/column-negative/index.htm"  target="_blank">Column with negative values</a></li>
			<li><a href="../../Page/examples/column-stacked/index.htm"  target="_blank">Stacked column</a></li>
			<li><a href="../../Page/examples/column-stacked-and-grouped/index.htm"  target="_blank">Stacked and grouped column</a></li>
			<li><a href="../../Page/examples/column-stacked-percent/index.htm"  target="_blank">Stacked percentage column</a></li>
			<li><a href="../../Page/examples/column-rotated-labels/index.htm"  target="_blank">Column with rotated labels</a></li>
			<li><a href="../../Page/examples/column-drilldown/index.htm"  target="_blank">Column with drilldown</a></li>
			<li><a href="../../Page/examples/column-parsed/index.htm"  target="_blank">Data defined in a HTML table</a></li>
			<li><a href="../../Page/examples/columnrange/index.htm"  target="_blank">Column range</a></li>
		</ul>
		<h4>Pie charts</h4>
		<ul>
			<li><a href="../../Page/examples/pie-basic/index.htm"  target="_blank">Pie chart</a></li>
			<li><a href="../../Page/examples/pie-gradient/index.htm"  target="_blank">Pie with gradient fill</a></li>
			<li><a href="../../Page/examples/pie-donut/index.htm"  target="_blank">Donut chart</a></li>
			<li><a href="../../Page/examples/pie-legend/index.htm"  target="_blank">Pie with legend</a></li>
		</ul>
</div>

<div class="highChart-column">
		<h4>Scatter and bubble charts</h4>
		<ul>
			<li><a href="../../Page/examples/scatter/index.htm"  target="_blank">Scatter plot</a></li>
			<li><a href="../../Page/examples/bubble/index.htm"  target="_blank">Bubble chart</a></li>
			<li><a href="../../Page/examples/bubble-3d/index.htm"  target="_blank">3D bubbles</a></li>
		</ul>
		<h4>Dynamic charts</h4>
		<ul>
			<li><a href="../../Page/examples/dynamic-update/index.htm"  target="_blank">Spline updating each second</a></li>
			<li><a href="../../Page/examples/dynamic-click-to-add/index.htm"  target="_blank">Click to add a point</a></li>
			<li><a href="../../Page/examples/dynamic-master-detail/index.htm"  target="_blank">Master-detail chart</a></li>
		</ul>
		<h4>Combinations</h4>
		<ul>
			<li><a href="../../Page/examples/combo/index.htm"  target="_blank">Column, line and pie</a></li>
			<li><a href="../../Page/examples/combo-dual-axes/index.htm"  target="_blank">Dual axes, line and column</a></li>
			<li><a href="../../Page/examples/combo-multi-axes/index.htm"  target="_blank">Multiple axes</a></li>
			<li><a href="../../Page/examples/combo-regression/index.htm"  target="_blank">Scatter with regression line</a></li>
		</ul>
		<h4>More chart types</h4>
		<ul>
			<li><a href="../../Page/examples/gauge-speedometer/index.htm"  target="_blank">Angular gauge</a></li>
			<li><a href="../../Page/examples/gauge-clock/index.htm"  target="_blank">Clock</a></li>
			<li><a href="../../Page/examples/gauge-dual/index.htm"  target="_blank">Gauge with dual axes</a></li>
			<li><a href="../../Page/examples/gauge-vu-meter/index.htm"  target="_blank">VU meter</a></li>
			<li><a href="../../Page/examples/polar/index.htm"  target="_blank">Polar chart</a></li>
			<li><a href="../../Page/examples/polar-spider/index.htm"  target="_blank">Spiderweb</a></li>
			<li><a href="../../Page/examples/polar-wind-rose/index.htm"  target="_blank">Wind rose</a></li>
			<li><a href="../../Page/examples/box-plot/index.htm"  target="_blank">Box plot</a></li>
			<li><a href="../../Page/examples/error-bar/index.htm"  target="_blank">Error bar</a></li>
			<li><a href="../../Page/examples/waterfall/index.htm"  target="_blank">Waterfall</a></li>
			<li><a href="../../Page/examples/funnel/index.htm"  target="_blank">Funnel chart</a></li>
			<li><a href="../../Page/examples/renderer/index.htm"  target="_blank">General drawing</a></li>
		</ul>
</div>
