.login-form-text{
	width:400px;
 	height:30px;
 	line-height:30px;
 	margin-bottom: 8px;
 	border: 1px solid gray;
}

.login-form-text:hover{
	border: 1px solid black;
}

/*Code Library*/
.code-form-text
{
    display:block;
	width:700px;
 	height:25px;
 	line-height:25px;
 	margin-bottom: 12px;
 	border: 1px solid gray;
}

.code-form-text:hover{
	border: 1px solid black;
}

.code-form-textarea
{
    display:block;
	width:696px;
 	height:75px;
 	line-height:25px;
 	margin-bottom: 12px;
 	border: 1px solid gray;
}

.code-form-textarea:hover{
	border: 1px solid black;
}


.code-form-textarea-Code
{
    display:block;
	width:696px;
 	min-height:400px;
 	margin-bottom: 12px;
 	border: 1px solid gray;
}

.code-form-textarea-Code:hover{
	border: 1px solid black;
}

.code-form-label
{
    padding:0px;
    display:block;
    font-size:14px; 
    font-weight:bolder; 
    width:90px;
}

.codes-operation-button
{
    display: inline-block;
    text-align: center;
    color: black;
    background-color: Black;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    border: none;
    color: White;

    font-size:14px;
}

.codes-operation-button:hover
{
    color: red; /*#fbfe03*/
    cursor: pointer;
}




.dropdown 
{
  margin-right:15px;
  height:26px;
  line-height: 28px;
  width: 300px;
  border:1px solid #d6d6d6;
  display: inline-block;
  position: relative;
  /*position: relative;
  overflow: hidden;
  height:28px;
  width: 300px;
  border: 1px solid #d6d6d6;#f7f7f7 #f5f5f5
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);*/
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 26px;
  line-height: 13px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}


/*Login*/
.login-form-button
{
	display:block;  /*变成块状才能够设置大小*/
	text-align: center;
  	color: white;
  	background-color: black;
  	width: 120px;
  	height: 30px;
  	line-height: 30px;
	text-decoration: none;
}
.login-form-button:hover {
	color:red;  /*#fbfe03*/
}

.button-normal
{
	display:block;  /*变成块状才能够设置大小*/
	text-align: center;
  	color: white;
  	background-color: black;
  	width: 120px;
  	height: 30px;
  	line-height: 30px;
	text-decoration: none;
}
.button-normal:hover {
	color:red;  /*#fbfe03*/
	cursor:pointer;
}

/*在列表中使用的button*/
.code-item-button
{
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
	text-align: center;
  	color: black;
  	background-color: #e0e0e0;
  	width: 80px;
  	height: 20px;
  	line-height: 20px;
	text-decoration: none;
	border:none;
	
}

.code-item-button:hover {
	color:red;  /*#fbfe03*/
	cursor:pointer;
}

/*HTML5中的元素*/
button
{
	text-align: center;
  	color: white;
  	background-color: black;
  	width: 100px;
  	height: 30px;
  	line-height: 30px;
	text-decoration: none;
	border:none;
}

button:hover {
	color:red;  /*#fbfe03*/
	cursor:pointer;
}




