<link href="@Url.Content("~/Content/CSS/TopBar.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function gotoHomePage() {
        window.location.href = "../Home/Index";
    }
</script>

<img id="frame-top-logo" src="@Url.Content("~/Source/Images/logo-bar.jpg")" alt="logo" onclick="gotoHomePage()" />
    <div id="frame-top-personal">
    <div id="frame-top-setting"></div>
    <div id="frame-top-loginUser">Micheal</div>
</div>