@{
    ViewBag.Title = "iAnSoft.com";
}
<link href="@Url.Content("~/Content/CSS/HomeIndex.css")" rel="stylesheet" type="text/css" />
<h2>
    .NET
</h2>
<hr />
<h3>
    C#</h3>
<p>
    Specially collection generic delegate event lambda ect...</p>
<h3>
    DB</h3>
<p>
    Using SQL SERVER</p>
<p>
    First understand the Principle and then use the T-SQL create VIEW SP INDEX TRIGER...</p>
<p>
    Understand the ADO.NET. Create the code library ansoft.ado</p>
<h3>
    EF</h3>
<p>
    DB first, Model first, Code first.</p>
<p>
    Try to use the code first to develop a test project</p>
<h3>
    WCF</h3>
<p>
    Understand the principle</p>
<p>
    Host & Endpoint(ABC)</p>
<h3>
    MVC</h3>
<p>
    The very importance pattern.</p>
<p>
    This project is created by MVC</p>
<h3>
    WEB</h3>
@Html.ActionLink("HTML5+CSS", "Html5", "Web", new { }, new { @class = "link-p-a" })
@Html.ActionLink("JS", "Js", "Web", new { }, new { @class = "link-p-a" })
<h2>
    Extra Language
</h2>
<hr />
<h3>
    C
</h3>
<p>
    Just acknowledge
</p>
<h3>
    Python
</h3>
<p>
    Just acknowledge</p>
<h3>
    Objective-C
</h3>
<p>
    Sorry for this one. I forget.</p>
<h2>
    Extra Framework
</h2>
<hr />
<h3>
    Django
</h3>
<p>
    A web framework writing by Python language.
</p>
<h2>
    Game
</h2>
<hr />
<h3>
    Cocos2D
</h3>
<p>
    A engine for 2D game.
</p>
<h3>
    Box2D
</h3>
<p>
    A engine for 2D Physics game
</p>
<h2>
    Extra Knowledge
</h2>
<hr />
<h3>
    Design Patterns
</h3>
<h3>
    Algorithms and Data Structures
</h3>
