<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="AnsoftEntities" connectionString="metadata=res://*/AnSoft.csdl|res://*/AnSoft.ssdl|res://*/AnSoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XUSHOUAN-PC;Initial Catalog=Ansoft;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>